.h1{
    color: #fff;
}
.main-title{
    color: #000;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    text-shadow: 2px 2px 2px red;
}

.main-title.-second{
    color: #fff;
    text-shadow: none;
    text-align: center;
}
